x-common: &common
  build:
    context: .
    args:
      ROS_DISTRO: ${ROS_DISTRO}
      BASE_IMAGE: ${BASE_IMAGE:-ros:${ROS_DISTRO}-ros-base}
  environment:
    RMW_IMPLEMENTATION: rmw_fastrtps_cpp
    FASTRTPS_DEFAULT_PROFILES_FILE: /root/fastdds_profiles.xml
  ipc: host
  network_mode: host
  shm_size: 512m

services:
  humble_talker:
    <<: *common
    image: ${IMAGE_TALKER:-ros2-humble-fastdds}
    build:
      context: .
      args:
        ROS_DISTRO: humble
        BASE_IMAGE: ${BASE_IMAGE_TALKER:-${BASE_IMAGE:-ros:${ROS_DISTRO}-ros-base}}
    command: ["ros2", "run", "demo_nodes_cpp", "talker"]

  humble_listener:
    <<: *common
    image: ${IMAGE_LISTENER:-ros2-humble-fastdds}
    build:
      context: .
      args:
        ROS_DISTRO: humble
        BASE_IMAGE: ${BASE_IMAGE_LISTENER:-${BASE_IMAGE:-ros:${ROS_DISTRO}-ros-base}}
    command: ["ros2", "run", "demo_nodes_cpp", "listener"]

  jazzy_talker:
    <<: *common
    image: ros2-jazzy-fastdds
    build:
      context: .
      args:
        ROS_DISTRO: jazzy
    command: ["ros2", "run", "demo_nodes_cpp", "talker"]

  jazzy_listener:
    <<: *common
    image: ros2-jazzy-fastdds
    build:
      context: .
      args:
        ROS_DISTRO: jazzy
    command: ["ros2", "run", "demo_nodes_cpp", "listener"]
